:root {
  --color-primary: #e50914;
  --color-primary-hover: #b80710;
  --color-secondary: #0f172a;
  --color-background: #f8fafc;
  --color-surface: #ffffff;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;
  --color-border: #e2e8f0;
  --color-danger: #ef4444;
  --color-warning: #f59e0b;
  --color-success: #10b981;

  --radius-sm: 0.375rem;
  --radius-md: 0.5rem;
  --radius-lg: 1rem;
}
