@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

  --primary: #E71D24;
  --primary-hover: #C8102E;

  --background: #F6F7FB;

  --surface: #FFFFFF;

  --text: #222222;

  --text-secondary: #6B7280;

  --border: #E5E7EB;

}

body {

  background: var(--background);

  color: var(--text);

  font-family: Inter, system-ui, sans-serif;

}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ECECEC;
}

::-webkit-scrollbar-thumb {
  background: #C8C8C8;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary);
}